{% extends "layouts/base.html" %}
{% load static %}
{% block content %}

<main class="content">
    <div class="container" >
        <input id="IdRango" type="hidden" value={{rango}}>
        <!-- LISTVIEW -->
        <div class="row" id="listview">
            <h1 class="text-secondary fs-6 p-4"><strong>Solicita tu equipo y p&aacute;galo en</strong> 12 cuotas</h1>
            <div class="row" id="viewProducts"></div>
        </div>
        <!-- DETAILS VIEW-->
        <div class="row top-area" id="detailsview" style="display: none;">
            <div class="row">
                <div class="col-lg-6 w-50 main-product-image" id="imageProd"></div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="input-group">
                        <span class="input-group-addon" style="float: left; width: 50%;">
                            <a class="text-end" href="BlockProdcts()"><i class="fa-solid fa-caret-left"></i>Atras</a>
                        </span>
                        <span class="input-group-addon fw-bolder" style="float: right; width: 50%; text-align:right "  id="countdown"></span>
                    </div>
                    <div class="product-info">
                        <!-- Nombre del Producto -->
                        <div class="input-group">
                            <span class="input-group-addon">Nombre:</span>
                        </div>
                        <div class="input-group">
                            &nbsp;&nbsp; <div id="titleProd" class="text-uppercase titlePrin fw-bold"></div>
                        </div>
                        
                        <!-- Precio del Producto -->
                        <div class="input-group">
                            <span class="input-group-addon">Precio:</span>
                        </div>
                        <div class="input-group">
                            &nbsp;&nbsp; <div id="priceProd" class="text-uppercase titlePrin"></div>
                        </div>

                        <!-- Descripción del Producto -->
                        <div class="input-group">
                            <span class="input-group-addon">Descripci&oacute;n:</span>
                        </div>
                        <div class="input-group">
                            &nbsp;&nbsp; <div id="descripProd" class="text-capitalize fw-light"></div>
                        </div>
                        <hr>
                        <!-- Cantidad del Producto -->
                        <div class="input-group">
                            <span class="input-group-addon">Disponible:</span>
                        </div>
                        <div class="input-group">
                            &nbsp;&nbsp; <div id="dispProd" class="text-uppercase titlePrin fw-bold"></div>
                        </div>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-lg btn-primary cart-button" type="button">
                                <i class="fa-solid fa-cart-shopping"></i>
                                &nbsp;Comprar ahora
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% block extrajs %}<script src="{% static '/js/reqs/inicio/index.js' %}"></script>{% endblock extrajs %}

{% endblock %}