{% extends "layouts/base.html" %}
{% load static %}
{% block content %}

<section>
    <div class="container my-5">
        <header class="mb-4">
            <h3>New products</h3>
        </header>
    </div>
    <div class="row">
        <input id="IdRango" type="hidden" value={{rango}}>
        <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
            <div class="card w-100 my-2 ">
                <div id="ViewProducts"></div>
            </div>
        </div>
    </div>
</section>


{% block extrajs %}<script src="{% static '/js/reqs/inicio/index.js' %}"></script>{% endblock extrajs %}

{% endblock %}