{% extends "layouts/base.html" %}
{% load static %}
{% block content %}

<section class="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <br>
                        <h4 class="m-0 text-black-50 text-center" >
                            {% block title %} 
                            <span class="fs-2 text">Bienvenido <br> </span>
                                <span class="fs-5 text">Beneficios para los Empleados </span>
                            {% endblock %}
                            <br>
                        </h4>
                        <hr>
                    <br>
                    <div class="d-flex justify-content-center">
                        <div id="ViewProducts" class="grid-layout col-md-10" style="border: 1px solid red;"></div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
</section>

{% block extrajs %}<script src="{% static '/js/reqs/inicio/index.js' %}"></script>{% endblock extrajs %}

{% endblock %}