asgiref==3.5.0
beautifulsoup4==4.10.0
cffi
cryptography==36.0.1
Django==4.0.3
django-bootstrap5==21.3
django-ckeditor==6.2.0
django-crispy-forms==2.0
django-environ==0.8.1
django-extensions==3.1.5
django-js-asset==2.0.0
django-select2==7.10.0
django-sitetree==1.17.1
django-browser-reload==1.7.0
fontawesomefree==6.3.0
Pillow==9.4.0
psycopg2==2.9.5
pycparser==2.21
pyOpenSSL==22.0.0
soupsieve==2.3.1
tzdata==2021.5
Werkzeug==2.0.3