{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
    <!-- Content Header (Page header)-->
    <div class="content-header">
        <div class="container-fluid">
        </div><!-- /.container-fluid-->
    </div>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- List Productos -->
            <div class="row">
                <div class="col-12">
                    <div class="card card-default border-top border-primary">
                        <div class="card-header ">
                            <div class="col-12 d-flex justify-content-between align-items-center">
                                <h5 class="m-0 text-dark"><i class="fas fa-store"></i>&nbsp; Productos</h5>
                                <button type="submit"  class="btn btn-success btn-sm btn-circle " title="Registrar Producto" onclick="location.href='{% url 'productos:create_productos' %}'"><i class="fa-solid fa-plus fa-lg"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            {% csrf_token %}
                            <table id="table_productos" class="table table-striped table-bordered table-hover responsive" style="font-size: 14px; font: sans-serif; text-align: center;" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th class="text-center" width="2%">#</th>
                                        <th class="text-center">Acci&oacute;n</th>
                                        <th class="text-center">C&oacute;digo Barras</th>
                                        <th class="text-center">Images</th>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Compra</th>
                                        <th class="text-center">Utilidad</th>
                                        <th class="text-center">Venta</th>
                                        <th class="text-center">Stockm</th>
                                        <th class="text-center" width="5%">Existencia</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align: center;"></tbody>
                            </table>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% block extrajs %}
    <script src="{% static '/js/reqs/productos/index.js' %}"></script>
{% endblock extrajs %}
  
{% endblock content %}