
.gallery{
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(minmax(3, 1fr));
  grid-gap: 5px;
}

#grid>div {
  
  font-size: 30px;
  padding: .5em;
  color: #ffffff;
  background: #1c87c9;
  text-align: center;

}

.avatar {
  border-radius: 10%;
  object-position: center;  
  max-width: 20px;
  max-height: 153px;
}

.avatable{

  width: 70px; 
  height: 100px;

}

.imagendiv{
  background-color: #ffffff;
  margin: 0.5%;
  width: 24%;
  border-radius: 3%;
  padding: 2%;
}
.main-product-image{
  margin: 0 auto;
  border: 1px solid #eee;
  display: flex; 
  justify-content: center;
}

.top-area{
  background-color:#ffffff;
  padding: 30px;
  border: 1px solid #eee;
  border-radius: 6px;
}

.product-info{
  padding: 0;
  margin-top:30px;
}

.titlePrin {
  text-align: left;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px
}

.imgMolv{
  transition: all .4s ease
}

.cart-button{

  height: 50px;

}

.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@media screen and (max-width: 600px) {

  .imagendiv {
    width: 100%;
    padding: 3%;
  }

  .main-product-image {
    min-width: 300px;
    margin: 0 auto;
  }

}

