{% extends 'layouts/baselogin.html' %}
{% load static  %}
{% block content %}
    <main class="main-content mt-0">
        <section>
            <div class="page-header min-vh-100">
                <div class="container">         
                    <div class="position-absolute top-0 start-3 text-left my-5 ">
                        <img src="{% static '/images/telefonica/TelefonicaLogo.png' %}" alt="" width="80">
                        <img src="{% static '/images/telefonica/TelefonicaName.png' %}" alt="" width="100">
                    </div>          
                    <div class="row" >
                        <div class="col-xl-4 col-lg-6 col-md-6 d-flex flex-column mx-auto">
                            <!-- LOGIN -->
                            <div class="card card-plain" id="DivLogin" style="display: block;">
                                <div class="card-header pb-0 text-left bg-transparent">
                                    <h3 class="font-weight-bolder text-info">Bienvenido</h3>
                                    <p class="mb-0">Introduzca su c&oacute;digo de empleado</p>
                                </div>
                                <div class="card-body" >
                                    <form id="formlogin" class="row g-3" method="post" action="{% url 'login:acceso' %}">
                                        {% csrf_token %}

                                        <!-- Codigo Empleado input -->
                                        <div class="form-outline mb-2">
                                            <input  type="text" class="form-control form-control-lg text-uppercase" 
                                                    placeholder="EXXXXX" maxlength="6"
                                                    name="username" id="username" autocomplete="off"
                                            >
                                            <label class="form-label" for="username">C&oacute;digo Empleado</label>
                                        </div>
                                        <!-- Password input -->
                                        <div class="form-outline mb-2">

                                            <input type="password" class="form-control form-control-lg"
                                                    placeholder="Enter password"
                                                    name="password" id="password" autocomplete="off">
                                            <label class="form-label" for="password">Password</label>
                                        </div>
                                        <div class="flex-sb-m w-full p-t-3 p-b-32">
                                            {{form.as_p}}
                                            <div class="form-group">
                                                <div id="menssage">
                                                    {% if messages %}
                                                        {% for message in messages %}
                                                        <script>
                                                            alert("PASO");
                                                            notification('Error', '{{ message }}', 'error');
                                                        </script>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>  
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn bg-info w-100 mt-4 mb-0 text-white" id="btologin" >Iniciar sesi&oacute;n</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('/static/images/backgroundLoging.jpg')"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

